<!DOCTYPE html>
<html>
  <!DOCTYPE html>
  <html>
    <head>
      <%- include('../static/partials/head.ejs') -%>
    </head>
    <body>
      <%- include('../static/partials/navbar.ejs') -%>
  
      <main class="container">

        <div style="display: flex; align-items:center;">
          <h1><%= post.title %></h1>
        </div>

        <p><%= post.body %></p>

        <% include ../comments/new.ejs -%>

        <section id="comment-list">
          <% if(post.comments) { %>
            <% post.comments.forEach((comment) => { %>
      
              <%- include("../comments/show.ejs", {comment}) %>
            <% }) %>
          <% } %>
        </section>
   
      </main>

      <%- include('../static/partials/baseScripts.ejs') -%>
  
    </body>
  </html>